body {
    font-family: Montserrat;
}

.logo {
    width: 30%;
}

h1 {
    width: 50%;
    color: #00908d
}



table {
    border: 1px solid #003781;
    color: #003781
}

tr, td {
    border: 1px solid #b5dae6
}

.tableHeader {
    background-color: #414141;
    color: #b5dae6;
}

.tableInput {
    width: 100%;
    max-width: 100%;
}

.certRow {
    border: 6px solid #b5dae6;
}
