body {
    font-family: Montserrat;
}

.logo {
    width: 30%;
}

h1 {
    width: 50%;
}



table, tr, td {
    border: 1px solid #003781;
}

.tableHeader {
    background-color: #414141;
    color: #dfeff2;
}

.tableInput {
    width: 100%;
    max-width: 100%;
}

.certRow {
    border: 6px solid #dfeff2;
}
